{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BBR - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/loginstyle.css' %}">
</head>
<body>
    <div class="bg-img">
        <div class="loginbox">
            <img src="{% static '/images/avatar.png' %}" class="avatar">
            <h1>Bug Bounty - Reports</h1>
             <form action="" method="POST">
             {% csrf_token %}
             <div class="input-field">
                <input id="username" type="text" name="username">
                <label for="username">Username</label>
             </div>
             <div class="input-field">
                <input id="password" type="password" name="password">
                <label for="password">Password</label>
             </div>
                <button type="submit" class="btn waves-effect waves-light">Login</button>
                {% for message in messages %}
                    <p class="message">{{message}}</p>
                {% endfor %}
             </form>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    <script>
        $(document).ready(function() {
        M.updateTextFields();
      });
    </script>
</body>
</html>